/* General styling */
body {
    background-image: url(../images/poker-backup.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Special Elite', cursive;
    line-height: 1.4;
    letter-spacing: 1px;
    color: white;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

h1,
h2 {
    margin: 10px;
}

h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 30%;
}

button {
    padding: .5em;
    font-family: 'Special Elite', cursive;
}

/* Styling for cards */
img {
    vertical-align: center;
    height: 14rem;
    width: 8.5rem;

}

#message {
    font-size: 3rem;
}

.cards-total {
    font-size: 1.2rem;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 1%;
    width: 15%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: large;
    border-radius: 5%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: rgb(172, 172, 172);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: black;
    display: none;
    overflow: hidden;
}


/* Media Queries for smaller screen sizes */
@media (max-width:950px) {
    body {
        background-image: url(../images/poker-phone.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    h2 {
        text-align: center;
        padding-left: 0%;
    }


    img {
        height: 12.5rem;
        width: 7.5rem;
        margin: 2px;
    }
}

/* Makes how to play button bigger < 650px */
@media (max-width:650px) {
    .accordion {
        width: 30%;
    }

    /* Media Queries for small phone sizes */
    @media (max-width:400px) {
        body {
            margin: 10%;
            padding: 2px;
        }

        h1 {
            padding: 5%;
        }

        h2 {
            margin: 2px;
            text-align: center;
            padding-left: 0%;
        }

        .accordion {
            width: 40%;
            margin-bottom: 5%;
        }

        p {
            margin: 5px;
        }

        img {
            height: 8rem;
            width: 5rem;
            margin: 1px;
        }

        .scores {
            margin-bottom: 15%;
        }
    }