body {
    /* background-color: rgb(45, 144, 54); */
    background-image: url(../images/poker-backup.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Special Elite', cursive;
    line-height: 1.4;
    letter-spacing: 1px;
    color: white;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

h1,
h2,
h3 {
    margin: 10px;
}

h2 {
    color: black;
}

button {
    padding: .5em;
}

h3 {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 30%;
}

img {
    vertical-align: center;
    height: 14rem;
    width: 8.5rem;

}

#message {
    font-size: 3rem;
}

.cards-total {
    font-size: 1.2rem;
}

#instructions {
    text-align: center;
    position: relative;
    display: inline-block;
}

#instructions>h2 {
    background-color: lightgray;
    border: 1px solid black;
    padding: .5rem;
    border-radius: 5%;
}

#rules {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    color: black;
}

#instructions:hover #rules {
    display: block;
}


@media (max-width:950px) {
    body {
        background-image: url(../images/poker-phone.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    h3 {
        /* margin: 2px; */
        text-align: center;
        padding-left: 0%;
    }


    img {
        height: 12.5rem;
        width: 7.5rem;
        margin: 2px;
    }
}

@media (max-width:400px) {
    body {
        margin: 5px;
        padding: 2px;
    }

    h1 {
        margin: 10px;
    }

    h2 {
        margin: 8px;
        color: black;
    }

    h3 {
        margin: 2px;
        text-align: center;
        padding-left: 0%;
    }

    p {
        margin: 5px;
    }

    img {
        height: 8rem;
        width: 5rem;
        margin: 1px;
    }

}